---
import LayoutWithHero from "../../layouts/LayoutWithHero.astro";
import { getInviteByName } from "../../../backend/backend.mjs";
import Cardinvite from "../../components/Cardinvite.astro";
const ByName = await getInviteByName();

const title = "Cinémagny";
const subTitle = "12 au 16 novembre 2025";
const alt = "Montagne";
import ImgHero from "../../assets/icons/img-montagne.svg";
---

<LayoutWithHero t title={title}
subTitle={subTitle}
src={ImgHero}
alt={alt}>
<Fragment slot="content">

     <ul
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-4 sm:px-6 md:px-8 max-w-7xl mx-auto"
        >
            {
                ByName.map((invite) => (
                    <li class="flex justify-center">
                        <Cardinvite {...invite} />
                    </li>
                ))
            }
        </ul>
 
        
<Fragment>
</LayoutWithHero>
