---
import Layout from "../layouts/Layout.astro";
import IconPlace from "../assets/icons/icon-location.svg";
import IconPhone from "../assets/icons/icon-phone.svg";
import IconMail from "../assets/icons/icon-mail.svg";
const title = "Contact";
---

<Layout>
    <section>
        <div
            class="flex justify-center items-center flex-col md:flex-row md:space-x-10 md:space-y-0 space-y-5 pt-16"
        >
            <div class="pb-15">
                <img
                    src={IconPlace.src}
                    alt="icon place"
                    aria-hidden="true"
                    class="w-10 mx-auto pb-2.5"
                />
                <a
                    href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x47923b6072912405:0xae6781e11742ffe0?sa=X&ved=1t:8290&ictx=111"
                >
                    06 06 06 06 06</a
                >
            </div>
            <div class="pb-15">
                <img
                    src={IconPhone.src}
                    alt="icon téléphone"
                    aria-hidden="true"
                    class="w-10 mx-auto pb-2.5"
                />
                <a
                    href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x47923b6072912405:0xae6781e11742ffe0?sa=X&ved=1t:8290&ictx=111"
                >
                    contactCinrmagny@gmail.com</a
                >
            </div>
            <div>
                <img
                    src={IconMail.src}
                    alt="icon Mail"
                    aria-hidden="true"
                    class="w-10 mx-auto pb-2.5"
                />
                <a
                    href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x47923b6072912405:0xae6781e11742ffe0?sa=X&ved=1t:8290&ictx=111"
                >
                    7 Rue des Casernes, 90200 Giromagny</a
                >
            </div>
        </div>

        <div class="px-7 pt-16 md:max-w-3xl lg:max-w-4xl mx-auto">
            <form action="/api/contact" method="POST" class="space-y-6">
                <div>
                    <label
                        for="nomComplet"
                        class="block font-medium text-gray-700 font-playfair text-2xl"
                        >Nom complet</label
                    >
                    <input
                        type="text"
                        name="nom_complet"
                        placeholder="Ex : Cristiano Ronaldo"
                        required
                        class="mt-1 block w-full p-2 border border-black rounded-md shadow-sm"
                    />
                </div>

                <div>
                    <label
                        for="adresse_email"
                        class="block font-medium text-gray-700 font-playfair text-2xl"
                        >Adresse email</label
                    >
                    <input
                        type="email"
                        name="adresse_email"
                        placeholder="Ex : cristiano.ronaldoSUI@gmail.com"
                        required
                        class="mt-1 block w-full p-2 border border-black rounded-md shadow-sm"
                    />
                </div>

                <div>
                    <label
                        for="Objet"
                        class="block font-medium text-gray-700 font-playfair text-2xl"
                        >Objet</label
                    >
                    <input
                        type="text"
                        name="objet"
                        placeholder="Ex : Demande de partenariat"
                        required
                        class="mt-1 block w-full p-2 border border-black rounded-md shadow-sm"
                    />
                </div>

                <div>
                    <label
                        for="message"
                        class="block font-medium text-gray-700 font-playfair text-2xl"
                        >Message</label
                    >
                    <textarea
                        name="message"
                        rows="4"
                        placeholder="Ex : SUIIII"
                        required
                        class="mt-1 block w-full p-2 border border-black rounded-md shadow-sm"
                    ></textarea>
                </div>

                <div class="flex justify-center">
                    <button
                        type="submit"
                        class="uppercase py-3 p-7 shadow-sm text-white bg-blue hover:bg-brown focus:ring-2 focus:ring-offset-2"
                    >
                        Envoyer
                    </button>
                </div>
            </form>
        </div>
    </section>
</Layout>
