---
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
const title = "Contact";
---

<LayoutWithHero title="Contact">
    <Fragment slot="content">
         <section>
            
         </section>
        </Fragment>
</LayoutWithHero>