---
import Layout from "../layouts/Layout.astro";
import AfficheTnw from "../assets/img/affiche_theneighborswindow.webp";
import affichePupille from "../assets/img/affiche_pupille.webp";
import AfficheParasite from "../assets/img/affiche_parasite.webp";
import AfficheLesGardiennes from "../assets/img/affiche_gardiennes.webp";
---

<Layout>
  <div class="px-7 pt-16">
    <p class="pb-2.5">
      Bienvenue à Cinémagny, le festival incontournable dédié à la célébration
      du 7e art sous toutes ses formes ! Ce rendez-vous unique offre une riche
      sélection de films, allant des longs métrages aux courts, en passant par
      des documentaires et des films d'animation.
    </p>

    <p>
      Cinémagny se distingue par son engagement à promouvoir les talents
      émergents du cinéma indépendant et à mettre en lumière des artistes
      locaux. Vous y découvrirez des œuvres méconnues, originales et innovantes,
      dans un cadre authentique au cœur des Vosges.
    </p>
    <a href="/festival">En savoir plus sur le festival</a>
  </div>

  <section class="bg-background p-0">
    <header class="">
      <h2 class="">Les Films à la Une</h2>
    </header>

    <div class="grid grid-cols-2 justify-center items-center">
      <img
        class="w-36 h-56 pb-4 mx-auto"
        src={AfficheTnw.src}
        alt="affiche du film The Neighbors Window"
      />
      <img
        class="w-36 h-56 pb-4 mx-auto"
        src={affichePupille.src}
        alt="affiche du film Pupille"
      />
      <img
        class="w-36 h-56 mx-auto"
        src={AfficheParasite.src}
        alt="affiche du film Parasite"
      />
      <img
        class="w-36 h-56 mx-auto"
        src={AfficheLesGardiennes.src}
        alt="affiche du film Les Gardiennes"
      />
    </div>

    <div>
      <a class="" href="/programme">la programmation complète</a>
    </div>
  </section>
</Layout>
