---
const { ...film } = Astro.props;
---

<a href={`/films/${film.id}`} class="flex justify-center items-center flex-col">
    <img src={film.affiche} alt="affiche film" />
    <h3>{film.titre}</h3>
    <p>{film.realisateur}</p>
</a>
