---
import IconInsta from "/src/assets/icons/icon-instagram.svg";
import IconFacebook from "/src/assets/icons/icon-facebook.svg";
import IconTwitter from "/src/assets/icons/icon-twitter.svg";
import IconMontagne from "/src/assets/icons/img-montagne.svg";
---

<footer>
    <ul class="flex justify-center items-center flex-col gap-10 pt-10">
        <li>
            <a
                class="text-white text-xl font-bold"
                href="/festival"
                aria-label="Visite notre page festival">Festival</a
            >
        </li>
        <li>
            <a
                class="text-white text-xl font-bold"
                href="/contact"
                aria-label="contact nous dans la page contact">Contact</a
            >
        </li>
        <li>
            <a class="text-white text-xl font-bold" href="#" aria-label="faq"
                >FAQ</a
            >
        </li>
        <li>
            <a
                class="text-white text-xl font-bold"
                href="#"
                aria-label="notre page support">Support</a
            >
        </li>
    </ul>

    <div class="py-10 ">
        <ul class="flex justify-center items-center gap-10">
            <li>
                <a
                    href="https://www.instagram.com/mmi_montbeliard/"
                    aria-label="Visite notre instagram"
                >
                    <img class="w-12" src={IconInsta.src} alt="icon-intagram" />
                </a>
            </li>

            <li>
                <a
                    href="https://www.facebook.com/mmimontbeliard/?locale=fr_FR"
                    aria-label="visite notre facebook"
                >
                    <img
                        class="w-12"
                        src={IconFacebook.src}
                        alt="icon-facebook"
                    />
                </a>
            </li>

            <li>
                <a
                    href="https://x.com/MMImontbeliard/status/1365345886981656577"
                    aria-label="visite notre twitter"
                >
                    <img
                        class="w-15"
                        src={IconTwitter.src}
                        alt="icon-twitter"
                    />
                </a>
            </li>
        </ul>
    </div>

    <div class="flex justify-center items-center ">
        <p class="text-white text-center text-xs w-60">
            Ce site est un projet réalisé en 2024 dans le cadre d'un exercice
            pédagogique au département MMi de Montbéliard
        </p>
    </div>

    <div>
        <img
            class="w-full h-auto"
            src={IconMontagne.src}
            alt="montagne design"
            aria-hidden="true"
        />
    </div>
</footer>
